<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddAsset</servlet-name>
        <servlet-class>ServletAPIs.AddAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetList</servlet-name>
        <servlet-class>ServletAPIs.AssetList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWorker</servlet-name>
        <servlet-class>ServletAPIs.AddWorker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateTask</servlet-name>
        <servlet-class>ServletAPIs.AllocateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkerTask</servlet-name>
        <servlet-class>ServletAPIs.WorkerTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTask</servlet-name>
        <servlet-class>ServletAPIs.AddTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAsset</servlet-name>
        <url-pattern>/AddAsset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetList</servlet-name>
        <url-pattern>/AssetList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWorker</servlet-name>
        <url-pattern>/AddWorker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateTask</servlet-name>
        <url-pattern>/AllocateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkerTask</servlet-name>
        <url-pattern>/WorkerTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTask</servlet-name>
        <url-pattern>/AddTask</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Admin.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
